* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(25, 24, 24);
    background-size: cover;
    background-position: center;
  }
  
  .center {
    width: 600px;
    height: 650px;
    background: white;
    border: 2px solid rgb(220, 220, 220, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0.2);
  
    color: #fff;
    border-radius: 10px;
    padding: 20px 20px;
  }

  .header{
    color:rgb(115, 112, 112);
    height: 50px;
    margin-left: 10px;
    font-size: 150%;
    font-family: sans-serif;
  }
  
  .element{
    height:55px;
    margin:20px 10px;
    border: 1px solid gray;
    border-radius: 10px;
  }
  #agrement{
    margin-left: 20px;
  }

  .center label{
    color: #3C4043;
    font-size: 120%;
  }
  .center .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .element input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 150%;
    border-radius: 10px;
    padding: 20px 45px 20px 20px;
  }
  
  .element button{
    width: 100%;
    height: 100%;
    background-color: #3C4043;
    border: none;
    outline: none;
    font-size: 120%;
    border-radius: 10px;
    color:#fff;
  }

  .element a{
    text-decoration: none;
    color: #3C4043;
    font-size: 150%;
  }

